.wrapper {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 16px;

    margin-right: 24px;

    .sidebar {
        background-color: rgb(153, 153, 153);
    }

    .mainList {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
