@use '@/assets/scss/mixins' as *;

$card-background-color: #d1d1d1;

.card {
    @include flex(row, flex-start);

    width: 100%;
    min-height: 225px;

    padding: 16px;

    background-color: $card-background-color;
    border-radius: 16px;

    position: relative;

    .info {
        @include flex(column, center, flex-start);

        .description {
            @include cutTextRows;
        }
    }

    .favorite {
        background: none;
        border: none;
        cursor: pointer;

        position: absolute;
        top: 16px;
        right: 16px;

        svg {
            color: gray;
        }

        &.active svg {
            color: gold;
        }
    }
}
