@use '@/assets/scss/mixins' as *;

.list {
    @include flex(row, flex-start, flex-start);
    @include hiddenScroll;

    flex-wrap: wrap;

    height: 100vh;
    list-style-type: none;

    .item {
        width: 100%;
    }
}
